{% extends 'base.html.twig' %}

{% block body %}
    <h1>milestone_history</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ milestone_history.id }}</td>
            </tr>
            <tr>
                <th>Milestoneid</th>
                <td>{{ milestone_history.milestoneId }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ milestone_history.value }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{% if milestone_history.timestamp %}{{ milestone_history.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('milestone_history_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('milestone_history_edit', { 'id': milestone_history.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
