{% extends 'base.html.twig' %}

{% block body %}
    <h1>goal list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Name</th>
                <th>Datestart</th>
                <th>Datecompleted</th>
                <th>Targetdatecomplete</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for goal in goals %}
            <tr>
                <td><a href="{{ path('goal_show', { 'id': goal.id }) }}">{{ goal.id }}</a></td>
                <td>{{ goal.userId }}</td>
                <td>{{ goal.name }}</td>
                <td>{% if goal.dateStart %}{{ goal.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if goal.dateCompleted %}{{ goal.dateCompleted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if goal.targetDateComplete %}{{ goal.targetDateComplete|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('goal_show', { 'id': goal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('goal_edit', { 'id': goal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
