{% extends 'base.html.twig' %}

{% block body %}
    <h1>goal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ goal.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ goal.userId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ goal.name }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if goal.dateStart %}{{ goal.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datecompleted</th>
                <td>{% if goal.dateCompleted %}{{ goal.dateCompleted|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Targetdatecomplete</th>
                <td>{% if goal.targetDateComplete %}{{ goal.targetDateComplete|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('goal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('goal_edit', { 'id': goal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
